---
epistemic: Initial validation of ideas. No sources contradict this view.
---
# Patents can be awarded to ideas without empiric verification

[[Patents]] can be issued on broad ideas even before there is an attempt at realization. The case of [[Theranos]] may be a paradigmatic example:

<blockquote class="quoteback" darkmode="" data-title="Theranos%3A%20How%20a%20broken%20patent%20system%20sustained%20its%20decade-long%20deception" data-author="@arstechnica" cite="https://arstechnica.com/tech-policy/2019/03/theranos-how-a-broken-patent-system-sustained-its-decade-long-deception/">
<p>But Holmes found a more receptive audience at the USPTO. She says she spent five straight days at her computer drafting a patent application. The <a href="https://www.eff.org/document/holmes-provisional-application" target="_blank" rel="noopener">provisional application</a>, filed in September 2003 when Holmes was just 19 years old, describes “medical devices and methods capable of real-time detection of biological activity and the controlled and localized release of appropriate therapeutic agents.” This provisional application would mature into many issued patents. In fact, there are patent applications still being prosecuted that claim priority back to Holmes’ 2003 submission.</p>
<p>But Holmes’ 2003 application was not a “real” invention in any meaningful sense. We know that Theranos spent years and hundreds of millions of dollars trying to develop working diagnostic devices. The tabletop machines Theranos focused on were much <em>less&nbsp;</em>ambitious than Holmes’ original vision of a patch. Indeed, it’s fair to say that Holmes’ first patent application was little more than aspirational science fiction written by an eager undergraduate.</p>
<footer>@arstechnica <cite><a href="https://arstechnica.com/tech-policy/2019/03/theranos-how-a-broken-patent-system-sustained-its-decade-long-deception/">https://arstechnica.com/tech-policy/2019/03/theranos-how-a-broken-patent-system-sustained-its-decade-long-deception/</a></cite></footer>
</blockquote>
<script note="" src="https://cdn.jsdelivr.net/gh/Blogger-Peer-Review/quotebacks@1/quoteback.js"></script>

Patents must meet two criteria to be issued (at least in the US): **utility** and **enablement**. The latter means that the patent should suffice for someone on the same field to be able to technically realize the invention.  However, how can a patent examiner determine the *enablement* of a patent? Therefore, it is crucial to discuss how [[patents and research]] can be further integrated. 