.essays {
    padding-top: 2.5rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;

    &__description {
        font-size: 0.875rem;
        font-weight: $medium;
        color: $gray;
    }

    &__card {
        padding-top: 1.68rem;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        padding-bottom: 1.5rem;
        border-style: solid;
        border-color: $gray;
        border-radius: 20px;
        border-width: 2px;
        box-shadow: $darkgray;
        &:not(:last-child) {
            margin-bottom: 1.75rem;
        }
    }

    &__topic {
        font-size: 1.125rem;
        background: $darkyellow;
        padding: 0.5rem;
        border: none;
        border-radius: 5px;
        margin-bottom: 1rem;
    }

    &__header_image {
        img {
            width: 95%;
        }
    }

    &__introduction {
        font-weight: $medium;
        font-size: 1rem;
        color: $darkgray;
    }

    &__read_more{
        margin-top: .8rem;
        font-size: 1rem;
        font-weight: $medium;
    }
}
