html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.1;
    font-family: "Profile Pro", sans-serif;
    @include breakpoint-up(large) {
        max-width: 63.9375em;
        margin-left: auto;
        margin-right: auto;
    }
}

a,
a:visited,
a:hover {
    text-decoration: none;
    color: black;
}

// Flexbox

.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

// General Styles
.wikilink {
    background: $lightyellow;
    background-position: 0 110%;
    background-size: auto 0.15rem;
    background-repeat: no-repeat;

    transition: border 300ms ease-in-out;

    &:hover {
        border: 0px;
        border-bottom: 5px $darkyellow;
        border-style: solid;
        bottom: 0;
    }
}

h2 {
    font-size: 1.5625rem;
    font-weight: 500;
}

h3 {
    font-size: 1.125rem;
    font-weight: bold;
}

// Add a black arrow on a yellow background before
.with-arrow {
    &::before {
        content: "";
        background: url("/dist/images/group_26.svg");
        background-size: 100%, 100%;
        position: relative;
        float: left;
        width: 1.25rem;
        height: 1.25rem;
        z-index: 2000;
    }
}
