// Colors
$lightyellow: rgba(255, 208, 0, 71%);
$darkyellow: rgba(255, 208, 0, 100%);
$purple: rgba(71, 72, 222, 100%);
$blue: rgba(38, 153, 251, 100%);
$gray: rgba(149, 152, 154, 100%);
$darkgray: rgba(116, 116, 116, 100%);

// Fonts
$normal: 400;
$medium: 500;
$bold: 600;
$extrabold: 700;