<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Aquiles Carattino">
    <link rel="stylesheet" href="https://use.typekit.net/ogg8jyg.css">
    <link rel="stylesheet" href="/dist/css/style.min.css">
</head>

<body>
    <header class="header">
        <nav class="flex flex-jc-sb flex-ai-c">
            <a href="/" class="header__logo">
                <img src="/dist/images/logo.svg" alt="Aquiles Carattino" />
            </a>
            <div class="header__links">
                        <a href="#" class="shadow-wikilink hover:shadow-wikihover transition-all duration-300">About</a>
        <a href="#" class="shadow-wikilink hover:shadow-wikihover transition-all duration-300">Contact</a>
        <a href="#" class="shadow-wikilink hover:shadow-wikihover transition-all duration-300"><span class="lang-light">ES</span></a>
            </div>
        </nav>
    </header>
    <div class="hero">
        <div class="hero__left">
            <div class="hero__container">
                <div class="hero__supra">Welcome</div>
                <div class="hero__main">
                    Hi, I am Aquiles. <br />
                    This is my corner of the Internet.
                </div>
                <a href="#"><div class="hero__cta with-arrow">About Me</div></a>
            </div>
        </div>
        <div class="hero__right">
            <div class="hero__links">
                <ul>
                                    <li><a href="#" class="shadow-wikilink hover:shadow-wikihover transition-all duration-300">Essays</a></li>
                <li><a href="#" class="shadow-wikilink hover:shadow-wikihover transition-all duration-300">Notes</a></li>
                <li><a href="#" class="shadow-wikilink hover:shadow-wikihover transition-all duration-300">Talk to Me</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="essays">
        <h2 class="essays__title">Essays</h2>
        <div class="essays__description">
            <p>
                I like thinking about different topics, from science to education, and from literature to technology.
                When thoughts are complete, sometimes I write them down in longer format.</p>
        </div>
        <div class="essays__list">
            <div class="essays__card">
                <button class="essays__topic">
                    Science
                </button>
                <div class="essays__header_image">
                    <img src="/dist/images/books_dna.png" alt="Books are like DNA">
                </div>
                <div class="essays__title">
                    <h3>
                        Words in books are like the DNA that describes our ancient history
                    </h3>
                </div>
                <div class="essays__introduction">
                    There are two types of history, the one we remember and the one we don’t. Many people remember the
                    glorious times when gods inhabited the planet. Some were compassionate, and some were as fallible
                    and self-centered as many modern celebrities. In some parts of the world, the stories of exploration
                    and creation are alive and guide daily practices and rituals.
                </div>
                <div class="essays__read_more with-arrow">
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="essays__card">
                <button class="essays__topic">
                    Science
                </button>
                <div class="essays__header_image">
                    <img src="/dist/images/books_dna.png" alt="Books are like DNA">
                </div>
                <div class="essays__title">
                    <h3>
                        Words in books are like the DNA that describes our ancient history
                    </h3>
                </div>
                <div class="essays__introduction">
                    There are two types of history, the one we remember and the one we don’t. Many people remember the
                    glorious times when gods inhabited the planet. Some were compassionate, and some were as fallible
                    and self-centered as many modern celebrities. In some parts of the world, the stories of exploration
                    and creation are alive and guide daily practices and rituals.
                </div>
                <div class="essays__read_more with-arrow">
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="essays__card">
                <button class="essays__topic">
                    Science
                </button>
                <div class="essays__header_image">
                    <img src="/dist/images/books_dna.png" alt="Books are like DNA">
                </div>
                <div class="essays__title">
                    <h3>
                        Words in books are like the DNA that describes our ancient history
                    </h3>
                </div>
                <div class="essays__introduction">
                    There are two types of history, the one we remember and the one we don’t. Many people remember the
                    glorious times when gods inhabited the planet. Some were compassionate, and some were as fallible
                    and self-centered as many modern celebrities. In some parts of the world, the stories of exploration
                    and creation are alive and guide daily practices and rituals.
                </div>
                <div class="essays__read_more with-arrow">
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>

    <script src="/dist/js/script.js"></script>
</body>

</html>