<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Aquiles Carattino">
    <link rel="stylesheet" href="https://use.typekit.net/ogg8jyg.css">
    <link rel="stylesheet" href="/dist/css/style.min.css">
</head>
<body>
    <header class="header">
        <nav class="flex flex-jc-sb flex-ai-c">
                <a href="/" class="header__logo">
                    <img src="/dist/images/logo.svg" alt="Aquiles Carattino" />
                </a>
                <div class="header__links">
                    <a href="">About</a>
                        <a href="">Contact</a>
                        <a href=""><span class="lang-light">ES</span></a>
                </div>
        </nav>
    </header>
    <div class="hero">
        <div class="hero-supra">Welcome</div>
        <div class="hero-main"><p>Hi, I am Aquiles. <br />
            This is my corner of the Internet.</p></div>
        <div class="hero-links">
            <ul>
                <li>Essays</li>
                <li>Notes</li>
                <li>Talk to Me</li>
            </ul>
        </div>
        <div class="button-link">About Me</div>
    </div>


<script src="/dist/js/script.js"></script>
</body>
</html>