<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Handbook of Object-Oriented Programming with Python</title>
  <link href="/static/bundle.min.css" rel="stylesheet">
</head>
<body class="font-sans text-md lg:text-lg bg-warmGray-100">
<div class="h-6 md:h-24 bg-yellow-500">

</div>
<div class="md:max-w-screen-md md:mx-auto pb-6">
  <div class="pt-12 px-4 mt-2 md:pt-32 ">
    <div class="text-gray-400 text-2xl pb-1">Deep dive into classes and objects</div>
    <div class="text-gray-800 text-4xl leading-none">Handbook of Object-Oriented Python</div>
    <div class="text-gray-700 mt-4 md:mt-6 text-xl leading-snug">Complete book with actionable insights and examples. Ideal as a
      reference book for all levels.
    </div>
    <div class="mt-6">Get the book while it's written and get a discount proportional to number of missing chapters.</div>
    <div class="mt-2 md:mt-32">
      <button class="bg-green-400 transform rounded-md py-2 px-6 shadow-md active:shadow-inner hover:-translate-y-0.5">Get the book
      </button>
    </div>
  </div>
  <div class="mb-8 lg:max-w-screen-lg px-2 mt-6 md:mt-12 grid grid-cols-1 md:grid-cols-2">
    <div class="text-md md:mx-2 md:text-lg leading-tight">
      <p class="mb-1 md:mb-4">People say "<em>in Python, <span class="wikilink">everything is an object</span></em>"", this book demistifies what it
        means.</p>
      <p class="mb-1 md:mb-4">Carefully crafted to slowly build insight into one of the most powerful programming
        patterns.</p>
      <p class="mb-1 md:mb-4"><span class="wikilink">Both beginners and advanced programmers</span> will benefit from a reference guide to
        object-oriented Python.</p>
      <p class=""></p>
    </div>
    <div class="md:mx-2 md:text-lg"><img src="https://via.placeholder.com/300x500.png" class="shadow-md"/></div>
  </div>
  <section class="w-full px-4">
    <h1 class="text-2xl mb-1">Book Content</h1>
    <div class="transform bg-white my-2 hover:shadow-sm hover:bg-blue-50 hover:-translate-y-0.5 px-4 py-2">
      <div class="flex items-center my-2  px-4 py-2"><svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
      </svg><b>Introduction</b>
      </div>
      All about classes
    </div>
    <div class="bg-white my-2 hover:shadow-sm hover:bg-blue-50 px-4 py-2">
      <div class="flex items-center"><svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
        </svg><b>Chapter 2</b>
      </div>
      These are all the other things
    <div>
  </section>
<section class="w-full px-4">
  <h1 class="text-2xl mb-1">About the Author</h1>
  <p class="leading-normal"><b><span class="wikilink">Aquiles Carattino</span></b> has written Python for the Lab 
    to help scientists while they take their first steps with Python. With the handbook of object-oriented Python 
  he wants to help a broader group of developers.</p>
</section>

</body>
</html>