<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="/static/bundle.min.css" rel="stylesheet">
</head>
<body class="font-sans text-lg bg-warmGray-100">
  <div class="h-12 md:h-24 bg-yellow-500">

  </div>
<div class="md:max-w-screen-md md:mx-auto pb-6">
  <div class="pt-12 px-4 mt-2 md:pt-32 ">
  <div class="text-gray-400 text-2xl pb-1">Deep dive into classes and objects</div>
  <div class="text-gray-800 text-4xl leading-none">Handbook of Object-Oriented Python</div>
  <div class="text-gray-700 mt-2 md:mt-6 leading-snug">Complete book with actionable insights and examples. Ideal as a reference book for all levels.</div>
  
  <div class="mt-12 md:mt-32">
    <button class="bg-green-300 rounded-md p-2 shadow-md hover:ring-green-400 hover:ring-2 active:shadow-inner">Get the book</button>
  </div>
</div>
<div class="mb-8 lg:max-w-screen-lg px-2 mt-6 md:mt-12 grid grid-cols-1 md:grid-cols-2">
  <div class="text-md md:mx-2 md:text-lg leading-tight">
    <p class="mb-1 md:mb-4">People say "<em>in Python, everything is an object</em>"", this book demistifies what it means.</p>
    <p class="mb-1 md:mb-4">Carefully crafted to slowly build insight into one of the most powerful programming patterns.</p>
    <p class="mb-1 md:mb-4">Both beginners and advanced programmers will benefit from a reference guide to object-oriented Python.</p>
    <p class=""></p>
  </div>
  <div class="bg-yellow-400 md:mx-2 md:text-lg">2</div>
</div>

</body>
</html>